{{>layout/header}}

<h1>save post</h1>

<div class="col-md-12">
  <div class="col-md-4">
    <form>
      <div class="form-group">
        <label for="title">title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          placeholder="input title"
        />
      </div>
      <div class="form-group">
        <label for="author">author</label>
        <input
          type="text"
          class="form-control"
          id="author"
          placeholder="input author"
        />
      </div>
      <div class="form-group">
        <label for="content">content</label>
        <textarea
          class="form-control"
          id="content"
          placeholder="input content"
        ></textarea>
      </div>
    </form>
    <a href="/" class="btn btn-secondary" role="button">cancel</a>
    <button class="btn btn-primary" type="button" id="btn-save">save</button>
  </div>
</div>

{{>layout/footer}}
